.header{
    display:flex;
    border-bottom: 2px solid $blue;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;

    img{
        max-width: 100px;
        height:auto;
    }
    ul{
        display:flex;
        gap: 20px;
        justify-content: space-between;
        list-style:none;

        li{
            a{
                color: $blue;
                font-family: $primary;
                font-size: 18px;
                font-weight:normal;
                text-decoration:none;
                opacity:0.8;

                &:hover{
                    font-weight: bold;
                    opacity:1;
                }
            }
        }
    }
}