.swiper-pagination{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 40px !important;
    height:40px !important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    display:flex !important;
    justify-content:center;
    align-items: center;

    .index{
        position: absolute;
        color: $blue;
    }
  }
  
  .swiper-pagination-bullet-active {
    background: $blue !important;

    .index{
        color: #fff;
    }
  }

  .swiper{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 50px 0px;
    height:100%;
  }

  .page{

    &__slide{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height:400px;
        font-family: $primary;
        font-size: 40px;
        color: $blue;
        font-weight: bold;
        &-title{
            font-family: $primary;
            font-size: 30px;
            color: $blue;
            text-align: center;
        }

        &-text{
            text-align: center;
        }

        &-image{
            
            min-height: 400px;
            width: auto;

            &--flag{
                max-height: 300px;
                min-height: 300px;
                border: 2px solid black;
            }
        }

        &-reveal{
            font-family: $primary;
            font-size: 15px;
            color: $blue;
            border: 2px solid $blue;
            border-radius: 4px;
            padding: 15px;
            width: 150px;
            margin: 40px auto 0px auto;
            display: flex;
            justify-content: center;

            &:hover{
                cursor: pointer;
                font-weight: bold;
                color: #fff;
                background-color: $blue;
            }

        }

        &-answer{
            font-family: $primary;
            font-size: 25px;
            color: $blue;
            font-weight:bold;
            text-align: center;
            opacity: 0;

            &-show{
               animation: opacity 0.5s  forwards;
               animation-iteration-count: 1;

               @keyframes opacity {
                0%{
                    opaity:0;
                }
                100% {
                    opacity: 1;
                }
               }
            }
        }
    }

    &__list{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 50px;
        margin: 50px 0px;

        li{
            flex: calc(50% - 25px);
            display: flex;
            justify-content: center;
            color: $blue;
            font-size: 25px;
            font-family: $primary;
        }
    }
  }

  .video-slide{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;

    video{
        max-width:600px;
        margin:auto;
    }

    .page__slide-answer{
        margin: 0px 0px 10px 0px;
    }
  }